.conteudo-titulo{ 
    text-align: center;
    margin-top: 80px;
}
.conteudo-senha{
    background: var(--fundo-senha);
    padding: 24px;
}
.titulo-secundario{
    font-size: 24px;
    font-weight: 400;
}
