.conteudo-titulo{ 
    text-align: center;
    margin-top: 80px;
}
.conteudo-senha{
    background: var(--fundo-senha);
    padding: 24px;
    border-bottom: 6px solid var(--borda);
}
#campo-senha {
    background-color: var(--fundo-senha);
    border: none;
    color: var(--branco);
    font-family: var(--roboto-mono);
    font-size: 40px;
}
#campo-senha:focus {
    outline: none;
}
.titulo-secundario{
    font-size: 24px;
    font-weight: 400;
}
