.conteudo-titulo{ 
    text-align: center;
    margin-top: 80px;
}
.conteudo-senha{
    margin-top: 80px; 
    background: var(--fundo-senha);
    padding: 24px;
    border-bottom: 6px solid var(--borda);
}
#campo-senha {
    background-color: var(--fundo-senha);
    border: none;
    color: var(--branco);
    font-family: var(--roboto-mono);
    font-size: 40px;
    width: 70%;
}
#campo-senha:focus {
    outline: none;
}
.conteudo{
    max-width: 1200px;
    margin: 0 auto;
}
.titulo-secundario{
    font-size: 24px;
    font-weight: 400;
}
.parametro{
    background-color: var(--fundo-texto);
    border: 2px solid var(--borda);
    margin-top: 32px;
    padding: 24px;
}
.parametro-titulo{
    font-family: var(--roboto-mono);
    font-size: 28px;
}
.parametro-senha{
    width: 50%;
    margin: 0 auto;
}
.parametro-coluna__senha{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
@media screen and (min-width: 768px) {
    .parametro-coluna__senha{
        flex-direction: row;
    }
}
